<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'Cool App', root_path, class:'navbar-brand'%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
      <%= link_to 'Home', home_index_path, class:'nav-link'%>
      </li>
      <li class="nav-item">
       <%= link_to 'About', home_about_path, class:'nav-link'%>
      </li>
      <li class="nav-item">
       <%= link_to 'Help', home_help_path, class:'nav-link'%>
      </li>
      <li class="nav-item">
       <%= link_to 'Contact Us', home_contact_path, class:'nav-link'%>
      </li>

      <li class="nav-item">
       <%= link_to 'Sign Up Now','', class:'nav-link'%>
      </li>
       
    </ul>
    
  </div>
</nav>